header {
    background-color: black; 
    padding: 20px; 
    display: flex; 
    justify-content: flex-end; 
}

#logo img {
    width: 150px; 
    height: auto; 
}

main {
    padding: 10px 15%;
}

#genre-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px; 
    padding: 10px;
}

#genre-list p {
    font-family: sans-serif;
    color: white;
    font-size: larger;
    font-weight: 600;
    padding: 20px; 
    text-align: center; 
    aspect-ratio: 1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease; 
}

@media screen and (max-width: 800px) {
    #genre-list {
        grid-template-columns: repeat(4, 1fr); 
    }
}

@media screen and (max-width: 600px) {
    #genre-list {
        grid-template-columns: repeat(3, 1fr); 
    }
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}