body {
    margin: 0;
}

header {
    background-color: black;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

#logo img {
    width: 150px;
    height: auto;
}

#search-bar {
    width: 100%;
    display: flex;
    padding: 0 20px;
    font-family: sans-serif;
}

#search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin: 2px 20px 2px 0;
}

#search-button,
#reset-button {
    padding: 8px 12px;
    margin: 2px 20px 2px 0;
    background-color: #4CAF50;
    color: white;
    border: 1px solid white;
    border-radius: 20px;
    cursor: pointer;
    width: 80px;
}

#search-button:hover,
#reset-button:hover {
    background-color: #45a060;
}

/* checkbox style */
input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    cursor: pointer;
    background-color: white;
}

input[type="checkbox"]:checked {
    background-color: #4CAF50;
}

label[for="showPlaylist"] {
    font-size: 16px;
    color: white;
}

main {
    margin: 10px 15%;
}

#genre-list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 10px;
    grid-auto-columns: 20%;
}

@media(max-width: 1090px) {
    #genre-list {
        grid-template-columns: repeat(4, 1fr);
        grid-auto-columns: 25%;
    }
}

@media(max-width: 890px) {
    #genre-list {
        grid-template-columns: repeat(3, 1fr);
        grid-auto-columns: 33.3%;
    }
}

#genre-list div {
    font-family: sans-serif;
    color: white;
    font-size: larger;
    padding: 20px;
    text-align: center;
    aspect-ratio: 1;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    flex-direction: column;
}

#genre-list div h2 {
    font-size: 16px;
    border:#ccc 1px;
}

#genre-list p {
    font-size: 12px;
    margin: 6px 0;
}

footer {
    background-color: #1a1a1a;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer p {
    margin: 0;
}